# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# Data & Models (Usually too large for GitHub)
# data/ (Uncommenting to allow upload for GitHub Actions)
# models/*.keras (Keep models ignored, we will generate them in CI)
models/*.h5
# We can allow the lightweight TFLite model if you want
# !models/*.tflite

# Outputs
outputs/
*.log

# System
Thumbs.db
.DS_Store
